<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry: Add Location</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <h2 id="page_title">Hangry</h2>
        <div class="button_div">
            <a href="/dashboard"><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">I NEED FOOD NOW!!!</button></a>
            <a href="/restaurant/add_favorite"><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Add New Favorite</button></a>
            <a href=""><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Find A New Go-To</button></a>
            <a href="/logout"><button class="button navbar_logout" onmouseover="nav_logout_react(this)" onmouseout="nav_logout_unreact(this)">Logout</button></a>
        </div>
    </div>
    <div class="content content_add">
        <div class="add_div">
            <h1>Add a Location</h1>
            <form id="add_location_form" class="add_location_form" action="/location/add/process" method="post">
                {% with location_entry_errors = get_flashed_messages(category_filter=['location_entry_error']) %}
                    {% if location_entry_errors %}
                        {% for location_entry_error in location_entry_errors %}
                            <p class="location_entry_error">{{location_entry_error}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="input_div">
                    <label for="location_name">Name: </label>
                    <input type="text" name="location_name" id="location_name">
                </div>
                <div class="address">
                    <label for="address">Address: </label>
                    <div class="input_div">
                        <label for="street_address">Street </label>
                        <input type="text" name="street_address" id="street_address" placeholder="">
                    </div>
                    <div class="input_div">
                        <label for="city">City </label>
                        <input type="text" name="city" id="city">
                    </div>
                    <div class="input_div">
                        <label for="state">State </label>
                        <input type="text" name="state" id="state">
                    </div>
                    <div class="input_div">
                        <label for="zip_code">Zip Code </label>
                        <input type="text" name="zip_code" id="zip_code">
                    </div>
                </div>
                <input type="hidden" id="lat" name="lat">
                <input type="hidden" id="lng" name="lng">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input class="button box_button add_button" id="add_button" type="button" value="Add" onmouseover="add_react(this)" onmouseout="add_unreact(this)" onclick="geocode()">
            </form>
        </div>
        <div class="your_locations">
            <h2>Your Locations</h2>
            <ul>
                {% for location in locations %}
                    <li>{{location.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
<script src="../static/script.js"></script>
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApYkTOlVGaCHsdFi6DFG3JwH4y272RH1M&callback=initAutocomplete&libraries=places&v=weekly"
    defer
></script>
</html>