<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry: Favorites or One Time List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <h2 id="page_title">Hangry</h2>
        <div class="button_div">
            <a href="/restaurant/add_favorite"><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Add New Favorite</button></a>
            <a href="/location/add"><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Add New Location</button></a>
            <a href=""><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Find A New Go-To</button></a>
            <a href="/logout"><button class="button navbar_logout" onmouseover="nav_logout_react(this)" onmouseout="nav_logout_unreact(this)">Logout</button></a>
        </div>
    </div>
    <div class="intro">
        <h1>Let's Solve Some Hanger!</h1>
        <p id="we_will_help">Click the left option if you want to randomize from some of your favorites<br>Click the right option if you wish to select the options you want to randomize from on a map</p>
    </div>
    <div class="content">
        <a href="/favorites/randomize" class="box a_box" onmouseover="box_react(this)" onmouseout="box_unreact(this)">
            <h3>Randomize From Favorites</h3>
        </a>
        <a href="" class="box a_box" onmouseover="box_react(this)" onmouseout="box_unreact(this)">
            <h3>One Time Randomization</h3>
        </a>
    </div>
    <div class="how_it_works">
        <h2 id="how_it_works_title">How It Works</h2>
        <div class="how_it_works_content">
            <p id="how_it_works_intro">Hangry works to quickly provide you restaurant options to solve your hanger.</p>
            <p class="how_it_works_paragraph_big">
                One option is to do a one-time use. With this option, Hangry will provide nearby options based on your location or the location
                you input. You can then select/deselect the options to narrow down your preferences. After, if there are restaurants that you wish
                to add to your options that were no previously provided, you can enter them manually. Finally, where your preferences are to your
                liking, you can proceed and Hangry will tell you where you should go! This is a good option for people who aren't familiar with 
                Hangry's functionality. If this is, what you are searching for click <a class="inner_text_link" href="/one-time-user/location">HERE</a>.
            </p>
            <p class="how_it_works_paragraph_small">
                For those who are familiar with how Hangry works and wish to create an account to get the most out of there experience, click 
                <a class="inner_text_link" href="/register">HERE</a> to
                create an account.
            </p>
            <p class="how_it_works_paragraph_small">
                If you already have an account, login <a class="inner_text_link" href="/login">HERE</a>.
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="section_heading">
            <h4>Home</h4>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/#how_it_works_title">How It Works</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </div>
        <div class="section_heading">
            <h4>Users</h4>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/one-time-user/location">Use Once</a></li>
            </ul>
        </div>
        <div class="section_heading">
            <h4>User Options</h4>
            <ul>
                <li><a href="/">User Dashboard</a></li>
                <li><a href="/restaurant/add_favorite">Add a Favorite</a></li>
                <li><a href="/location/add">Add a Location</a></li>
                <li><a href="/favorites/randomize">Randomize Favorites</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>