<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <div class="title_and_scroll_to">
            <a id="page_title_link" href="/">
                <h2 id="page_title">Hangry</h2>
            </a>
            <div class="scroll_to_div">
                <h3 class="scroll_link" onclick="scrollToQuery('how_it_works_title')">How It Works</h3>
                <h3 class="scroll_link" onclick="scrollToQuery('about_us_title')">About Us</h3>
                <h3 class="scroll_link" onclick="scrollToQuery('contact_us_title')">Contact Us</h3>
            </div>
        </div>
        <div class="button_div">
            <a href="/login"><button class="button navbar_login" onmouseover="nav_login_react(this)" onmouseout="nav_login_unreact(this)">Login</button></a>
            <a href="/register"><button class="button navbar_sign_up" onmouseover="nav_sign_up_react(this)" onmouseout="nav_sign_up_unreact(this)">Sign Up</button></a>
        </div>
    </div>
    <div class="content index_content">
        <div class="intro">
            <h1>Welcome to Hangry!</h1>
            <p id="questions">Are you hangry? Trying to figure out where to eat? Need food fast?</p>
            <p id="we_will_help">Let us help you end your hanger!<br>We will help you choose where to grab some grub!</p>
        </div>
        <div class="content index_options">
            <div class="box" onmouseover="box_react(this)" onmouseout="box_unreact(this)">
                <h3>Already have an account?</h3>
                <a href="/login"><button class="button box_button" onmouseover="box_button_react(this)" onmouseout="box_button_unreact(this)">Login</button></a>
            </div>
            <div class="box" onmouseover="box_react(this)" onmouseout="box_unreact(this)">
                <h3>Make an Account!</h3>
                <a href="/register"><button class="button box_button" onmouseover="box_button_react(this)" onmouseout="box_button_unreact(this)">Sign Up</button></a>
            </div>
            <div class="box" onmouseover="box_react(this)" onmouseout="box_unreact(this)">
                <h3>Don't Want to Sign Up?</h3>
                <a href="/one-time-user/location"><button class="button box_button" onmouseover="box_button_react(this)" onmouseout="box_button_unreact(this)">Use Once</button></a>
            </div>
        </div>
    </div>
    <div class="how_it_works">
        <h2 id="how_it_works_title">How It Works</h2>
        <div class="how_it_works_content">
            <p id="how_it_works_intro">Hangry works to quickly provide you restaurant options to solve your hanger.</p>
            <p class="how_it_works_paragraph_big">
                One option is to do a one-time use. With this option, Hangry will provide nearby options based on your location or the location
                you input. You can then select/deselect the options to narrow down your preferences. After, if there are restaurants that you wish
                to add to your options that were no previously provided, you can enter them manually. Finally, where your preferences are to your
                liking, you can proceed and Hangry will tell you where you should go! This is a good option for people who aren't familiar with 
                Hangry's functionality. If this is, what you are searching for click <a class="inner_text_link" href="/one-time-user/location">HERE</a>.
            </p>
            <p class="how_it_works_paragraph_small">
                For those who are familiar with how Hangry works and wish to create an account to get the most out of there experience, click 
                <a class="inner_text_link" href="/register">HERE</a> to
                create an account.
            </p>
            <p class="how_it_works_paragraph_small">
                If you already have an account, login <a class="inner_text_link" href="/login">HERE</a>.
            </p>
        </div>
    </div>
    <div class="about_us">
        <h2 id="about_us_title">About Us</h2>
        <div class="story">
            <h3>Our Story</h3>
            <div class="hanger_definition_container">
                <h3>"Hanger"</h3>
                <div class="def_and_pronunciation">
                    <p class="pronunciation">pronunciation: haNGər</p>
                    <p class="definition">Noun: a feeling of anger and frustration caused by hunger</p>
                </div>
            </div>
            <div class="story_details">
                <p>
                    As someone who often gets lost in work and forgets to eat as a result, I frequently experience hanger. It affects my
                    ability to think clearly and I begin to get snippy with the people around me. The real problem arises when deciding
                    where to eat. The longer it takes me to decide the more irritable I become!
                </p>
                <p>
                    This is where the idea for Hangry was born. Here at Hangry, our mission isn't to find you a new amazing spot to eat.
                    We know that you need food, you need it fast, and you probably already have a few go-to spots nearby where you would
                    want to eat. This is where we come in to help! Instead of letting your jumbled, hanger-soaked mind attempt to figure out
                    where to eat as your hanger grows worse and worse by the second, we are here to quickly make that decision for you!
                </p>
            </div>
        </div>
        <div class="creator">
            <h3 id="creator_title">Creator</h3>
            <h4>Tommy Rocha</h4>
            <div class="details_and_pic">
                <img src="../static/linkedin_pic.JPG" alt="picture of Tommy Rocha">
                <div class="details_and_connect">
                    <p class="creator_details">
                        After receiving his bachelor's degree in Biochemistry and Molecular Biology from Chapman University, Tommy changed gears and
                        began his career in software engineering. Now, as a fullstack developer and recent coding bootcamp graduate from Coding Dojo,
                        Tommy is excited about building solution based web applications such as Hangry. While building out web apps in his sparetime,
                        he is focused on landing a position as a developer where he can receieve mentorship and learn as much as he can in order to
                        expand his horizons. 
                    </p>
                    <div class="connect">
                        <div id="email_logo" class="email">
                            <p id="email_copied" class="email_uncopied">Email: tomrocha99@gmail.com copied</p>
                            <img src="../static/email_logo.png" alt="email icon" onclick="copyEmail()">
                        </div>
                        <a id="github_logo" href="https://github.com/RochaThomas" target="_blank" rel="noopener noreferrer">
                            <img src="../static/github_logo.png" alt="github icon">
                        </a>
                        <a id="linkedin_logo" href="https://www.linkedin.com/in/t-rocha/" target="_blank" rel="noopener noreferrer">
                            <img src="../static/linkedin_logo.png" alt="linkedin icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="future_direction">
            <h3>Future of Hangry</h3>
            <p>
                Hangry's main functionality is built out but there are many other places to improve and develop. One new development to be implemented
                would be to provide a user with a new restaurant based on their location that many other users frequent. Ideally, in the distant future,
                Hangry will be able to incorporate minimal forms of machine learning and AI to give users new suggestions and to automatically add frequented
                restaurants to their favorites without the user having to manually input them.
            </p>
            <p>
                Additionally, in terms of front-end development, the app's look could use a facelift to make it more appealing and engaging to users rather than
                just focused on providing the bare bones structure to make Hangry function properly.
            </p>
            <p>
                Similarly, in regards to back-end development, much of the code can and should be revised to improve efficiency and decrease repeated work.
                Reworking the code would make it easier to maintain and update for future changes. The CSS and HTML could also be redesigned in a similar
                fashion to make it less repetitive and easier to update.
            </p>
        </div>
    </div>
    <div class="contact_hangry">
        <h2 id="contact_us_title">Contact Us</h2>
        <h3>Leave Feedback</h3>
        <p>
            To submit any comments, complains, or suggestions, click on the icon below. You can also contact the creator directly using the contact
            information list above under <span id="creator_link" onclick="scrollToQuery('creator_title')">CREATOR</span>. Any feedback is always welcomed!
        </p>
        <a id="google_form_logo" href="https://forms.gle/UpsfMhwrSgWm6P5C6" target="_blank" rel="noopener noreferrer">
            <img src="../static/google_form_logo.png" alt="google form icon">
        </a>
    </div>
    <div class="footer">
        <div class="section">
            <h4>Home</h4>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/#how_it_works_title">How It Works</a></li>
                <li><a href="/#about_us_title">About Us</a></li>
                <li><a href="/#contact_us_title">Contact Us</a></li>
            </ul>
        </div>
        <div class="section">
            <h4>Users</h4>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/one-time-user/location">Use Once</a></li>
            </ul>
        </div>
        <div class="section last_section">
            <h4>User Options</h4>
            <ul>
                <li><a href="/dashboard">User Dashboard</a></li>
                <li><a href="/restaurant/add_favorite">Add a Favorite</a></li>
                <li><a href="/location/add">Add a Location</a></li>
                <li><a href="/favorites/randomize">Randomize Favorites</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <script src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>