<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <h2 id="page_title">Hangry</h2>
        <div class="button_div">
            <a href="/login"><button class="button navbar_login" onmouseover="nav_login_react(this)" onmouseout="nav_login_unreact(this)">Login</button></a>
            <a href="/register"><button class="button navbar_sign_up" onmouseover="nav_sign_up_react(this)" onmouseout="nav_sign_up_unreact(this)">Sign Up</button></a>
        </div>
    </div>
    <div class="manual-restaurant-add-content">
        <a class="back-button" href="/"> ← Back</a>
        <h1>One Last Step!</h1>
        <div class="directions">
            <h3 class="directions-title">Directions: </h3>
            <div class="directions-content">
                <p class="directions-message">
                    The restaurants you selected are displayed on the right. If there is a restaurant you know you 
                    might want to eat at but it wasn't on the map on the previous page, enter the information of that
                    restaurant in the form on the left and click "Add Restaurant". When your list looks complete,
                    click "Solve My Hanger!"
                </p>
            </div>
        </div>
        <div class="manual-restaurant-add-container">
            <form class="manual-restaurant-add-form" action="/one-time-user/process_manual_restaurant_add" method="post">
                <legend class="manual-restaurant-add-title">Manually Add a Restaurant to Your List</legend>
                <div class="form-body">
                    <div class="input-container">
                        <label for="name">Restaurant Name: </label>
                        <input type="text" name="name" id="name" placeholder="">
                    </div>
                    <div class="input-container">
                        <label for="street_address">Address: </label>
                        <input type="text" name="street_address" id="street_address">
                    </div>
                    <div class="input-container">
                        <label for="city">City: </label>
                        <input type="text" name="city" id="city">
                    </div>
                    <div class="input-container">
                        <label for="state">State: </label>
                        <input type="text" name="state" id="state">
                    </div>
                    <div class="input-container">
                        <label for="zipcode">Zip Code: </label>
                        <input type="text" name="zip_code" id="zip_code">
                    </div>
                    <input type="hidden" id="place_id" name="place_id">
                    <input class="manual-restaurant-add-submit" type="submit" value="Add Restaurant">
                </div>
            </form>
            <div class="list-of-selected-container">
                <h3 class="list-of-selected-title">List of Your Selected Restaurants</h3>
                <div id="list-of-selected" class="list-of-selected">
                    {% for restaurant in restaurants %}
                        <p>{{restaurant.name}}</p>
                    {% endfor %}
                </div>
                <!-- add onclick function and styling -->
                <button class="solve-my-hanger" type="button">Solve My Hanger!</button>
            </div>
        </div>
    </div>
</body>
<script src="/static/script.js"></script>
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApYkTOlVGaCHsdFi6DFG3JwH4y272RH1M&callback=initAutocomplete&libraries=places&v=weekly"
    defer
></script>
</html>