<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <h2 id="page_title">Hangry</h2>
        <div class="button_div">
            <a href="/login"><button class="button navbar_login" onmouseover="nav_login_react(this)" onmouseout="nav_login_unreact(this)">Login</button></a>
            <a href="/register"><button class="button navbar_sign_up" onmouseover="nav_sign_up_react(this)" onmouseout="nav_sign_up_unreact(this)">Sign Up</button></a>
        </div>
    </div>
    <div class="one-time-map-content">
        <h1>Suggested Nearby Restaurants Map</h1>
        <div class="map-list-container">
            <div class="map-options-container">
                <div id="map">
                    <input type="hidden" id="lat" name="lat" value={{lat}}>
                    <input type="hidden" id="lng" name="lng" value={{lng}}>
                </div>
                <div class="options">
                    <h3 id="options-title">Pan to Marker: <span id="panToStatus">On</span></h3>
                    <div class="info-icon-container pan-to-icon" onmouseover="openIconModal()" onmouseout="closeIconModal()">
                        <h3 id="info-icon">i</h3>
                        <div id="info-icon-modal">
                            <h3> → </h3>
                            <h4>What is the "Pan To Marker" option?</h4>
                            <p>
                                The "Pan to Marker" setting centers the map on which ever restaurant's marker the user is
                                focused on. Some users don't like how much this causes the map to move so we provide the 
                                option for the user to turn this setting off.
                            </p>
                        </div>
                    </div>
                    <label class="switch">
                        <input id="toggle-pan-to" type="checkbox" checked onclick="togglePanToWords()">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div id="list-container">
                <form id="places" class="places" action="/process_form" method="post">
                    <legend class="restaurant-list-header"> Restaurants Nearby</legend>
                    <!-- this will be propagated by the js file -->
                </form>
                <!-- style and format content for toggle -->
            </div>
        </div>
    </div>
</body>
<script src="../static/script.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApYkTOlVGaCHsdFi6DFG3JwH4y272RH1M&libraries=places&callback=initMap&v=weekly"
    defer
></script>
</html>