<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry: Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <a id="page_title_link" href="/">
            <h2 id="page_title">Hangry</h2>
        </a>
        <a href="/login"><button class="button navbar_login" onmouseover="nav_login_react(this)" onmouseout="nav_login_unreact(this)">Login</button></a>
    </div>
    <div class="content sign_up_content">
        <div class="sign_up_form">
            <h1>Fill Out the Form Below to Register</h1>
            <form class="register" action="/register/user" method="post">
                <!-- jinja error handling messages -->
                {% with registration_errors = get_flashed_messages(category_filter=['registration_error']) %}
                    {% if registration_errors %}
                        {% for registration_error in registration_errors %}
                            <p class="reg_error">{{registration_error}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name" id="first_name">
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name" id="last_name">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" name="confirm_password" id="confirm_password">
                <input type="submit" value="Sign Up" class="button box_button sign_up_button" onmouseover="sign_up_react(this)" onmouseout="sign_up_unreact(this)">
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="section">
            <h4>Home</h4>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/#how_it_works_title">How It Works</a></li>
                <li><a href="/#about_us_title">About Us</a></li>
                <li><a href="/#contact_us_title">Contact Us</a></li>
            </ul>
        </div>
        <div class="section">
            <h4>Users</h4>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/one-time-user/location">Use Once</a></li>
            </ul>
        </div>
        <div class="section last_section">
            <h4>User Options</h4>
            <ul>
                <li><a href="/dashboard">User Dashboard</a></li>
                <li><a href="/restaurant/add_favorite">Add a Favorite</a></li>
                <li><a href="/location/add">Add a Location</a></li>
                <li><a href="/favorites/randomize">Randomize Favorites</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>