<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hangry</title>
</head>
<body>
    <div class="navbar">
        <a id="page_title_link" href="/">
            <h2 id="page_title">Hangry</h2>
        </a>
        <div class="button_div">
            <a href="/login"><button class="button navbar_login" onmouseover="nav_login_react(this)" onmouseout="nav_login_unreact(this)">Login</button></a>
            <a href="/register"><button class="button navbar_sign_up" onmouseover="nav_sign_up_react(this)" onmouseout="nav_sign_up_unreact(this)">Sign Up</button></a>
        </div>
    </div>
    <div class="content user-location-content">
        <a class="back-button" href="/"> ← Back</a>
        <div class="allow-location-container">
            <h2>ALERT!</h2>
            <p class="message">
                Hangry would like to use your location in order to provide suggested nearby restaurants. 
                Allow Hangry to use your location?
            </p>
            <div class="info-icon-container" onmouseover="openIconModal()" onmouseout="closeIconModal()">
                <h3 id="info-icon">i</h3>
                <div id="info-icon-modal">
                    <h3> → </h3>
                    <h4>What does Hangry use my location for?</h4>
                    <p>
                        Hangry only uses your location to search your area for nearby restaurants in order
                        to provide you with suggests on places you might want to eat at.
                    </p>
                    <h4>What is the manual entry option?</h4>
                    <p>
                        Some users don't like to allow their browsers to access their location but Hangry
                        still needs an address to provide nearby restaurant suggestions. For those users, 
                        we provide an option to manually enter an address. You can either enter your address
                        or possibly the address of a nearby shopping center if you don't feel comfortable 
                        sharing your exact location.
                    </p>
                </div>
            </div>
            <form id="user_location_form" action="/one-time-user/process_user_location" method="post">
                <input type="hidden" id="lat" name="lat">
                <input type="hidden" id="lng" name="lng">
                <div class="user-location-option-buttons-container">
                    <button type="button" id="manual-entry-button" ><a id="manual-entry-link" href="/one-time-user/manual_location_entry">Manual Entry</a></button>
                    <input id="allow-button" type="button" value="Allow" onclick="getUserLocation()">
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="section">
            <h4>Home</h4>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/#how_it_works_title">How It Works</a></li>
                <li><a href="/#about_us_title">About Us</a></li>
                <li><a href="/#contact_us_title">Contact Us</a></li>
            </ul>
        </div>
        <div class="section">
            <h4>Users</h4>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/one-time-user/location">Use Once</a></li>
            </ul>
        </div>
        <div class="section last_section">
            <h4>User Options</h4>
            <ul>
                <li><a href="/dashboard">User Dashboard</a></li>
                <li><a href="/restaurant/add_favorite">Add a Favorite</a></li>
                <li><a href="/location/add">Add a Location</a></li>
                <li><a href="/favorites/randomize">Randomize Favorites</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
<script src="../static/script.js"></script>
</html>